<!DOCTYPE html>
<html>
<head>
  <title>Bow</title>
  <meta name="keywords" content="bow, be your bow, music, singer, vocalist, pop, dream pop, indie electronic, lovesound, gold coins, audio, video, live, tour, shows, streaming" />
	<meta name="description" content="Bow | Official web site for Bow featuring music, video, and tour dates." />

  <meta property="og:image" content="http://www.beyourbow.com/BowSillhouette.png" />
  <meta property="og:title" content="Bow" />
  <meta property="og:description" content="Be Your Bow">
  <meta property="og:url" content="http://www.beyourbow.com/" />
  <meta itemprop="name" content="Bow">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="//use.typekit.net/pnx6bul.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
</head>
<body class='hide-nav'>
	<!--Facebook Embed JS-->
	<div id="fb-root"></div>
		<script>
		(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=187372864654223";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
		</script>
	<!--Facebook Embed JS-->
<div class="site-wrap"><!--Menu Container-->
	<div class="se-pre-con">
		<svg class='gage-problem gage' version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 800 800" style="enable-background:new 0 0 800 800;" xml:space="preserve">
					<g>
						<circle class="gage__shell" cx="400" cy="400" r="375.5"/>
					</g>
					<g>
						<path class="gage__fill-load gage__fill-green gage__animate-100" d="M400,24.5c207.383,0,375.5,168.117,375.5,375.5S607.383,775.5,400,775.5S24.5,607.383,24.5,400
							S192.617,24.5,400,24.5"/>
					</g>
				</svg>
	</div>
	<script>
	$(window).load(function() {
		// Animate loader off screen
		$(".se-pre-con").fadeOut("slow");;
	});
	</script>
	<nav id="body-nav"><!--Menu Push-->
    <ul style='left:-28px'>
    	 <li class='social-icons-header'>
		  	<img src='/Facebook.png'/>
		  	<img src='/Twitter.png' />
		  	<img src='/Instagram.png' />
		  	<img src='/GooglePlus.png' />
		  	<img src='/Spotify_Badge(White_100).png' />
		  	<img src='/Apple_Badge(White_100).png' />
		  	<img src='/YouTube_Badge(White_100).png' />
		  </li>
	    <li><a href='#music'>MUSIC</a></li>
			<li><a href='#musicvideo'>VIDEO</a></li>
			<li><a href='#live'>LIVE</a></li>
			<li><a href='#social'>SOCIAL</a></li>
	  </ul>
  </nav>
  <div id='youtube__wrapper'>
	  <div class='youtube__player'>
	  	<div id='lovesoundClose' class='youtube__close'><a href='#'>CLOSE</a></div>
	  	<iframe id="video" src="https://www.youtube.com/embed/aEZi4_UEXqs?enablejsapi=1&html5=1" frameborder="0"></iframe>
	  </div>
	</div>
	<script>
		$(function() {
	    $('#youtube__wrapper').mouseover(function() {
        $('.youtube__close').show();
	    });
	    $('#youtube__wrapper').mouseleave(function() {
        $('.youtube__close').hide();
	    });
		});
	</script>
	<div id='header'>
	  <%= render 'layouts/header' %>
	  <script>
        (function() {

        "use strict";

        var toggles = document.querySelectorAll(".cmn-toggle-switch");

        for (var i = toggles.length - 1; i >= 0; i--) {
          var toggle = toggles[i];
          toggleHandler(toggle);
        };

        function toggleHandler(toggle) {
          toggle.addEventListener( "click", function(e) {
            e.preventDefault();
            (this.classList.contains("active") === true) ? this.classList.remove("active") : this.classList.add("active");
          });
        }

      })();
      </script>
      <script>
		    $(function() {
			    $('.toggle-nav').click(function() {
	          $('body').toggleClass('hide-nav');
	          $('body').toggleClass('show-nav'); 
	          return false;
			    });
				});
    	</script>
    	<script>
// https://developers.google.com/youtube/iframe_api_reference

// global variable for the player
var player;

// this function gets called when API is ready to use
function onYouTubePlayerAPIReady() {
  // create the global player from the specific iframe (#video)
  player = new YT.Player('video', {
    events: {
      // call this function when player is ready to use
      'onReady': onPlayerReady
    }
  });
}

function onPlayerReady(event) {
  
  // bind events
  var playButton = document.getElementById("lovesoundOpen");
  playButton.addEventListener("click", function() {
  	document.getElementById("header").style.display = "none";
  	document.getElementById("youtube__wrapper").style.display = "block";
    player.playVideo();
  });
  
  var pauseButton = document.getElementById("lovesoundClose");
  pauseButton.addEventListener("click", function() {
    player.pauseVideo();
    document.getElementById("youtube__wrapper").style.display = "none";
    document.getElementById("header").style.display = "block";
  });
  
}

// Inject YouTube API script
var tag = document.createElement('script');
tag.src = "//www.youtube.com/player_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

</script>
	</div>
		<div>
			<% flash.each do |name, msg| %>
     		<%= content_tag(:div, msg, class: "alert alert-info") %>
     		<% end %>
			<%= yield %>
		</div>
	<div class='footer'>
	  <%= render 'layouts/footer' %>
	</div>
		</div><!--End Menu Push-->
	</div><!--End Menu Container-->
</body>
</html>
