<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="generator" content=
  "HTML Tidy for Linux (vers 25 March 2009), see www.w3.org" />

  <title>Bow</title>
  <meta name="keywords" content=
  "bow, be your bow, music, singer, vocalist, pop, dream pop, indie electronic, lovesound, gold coins, audio, video, live, tour, shows, streaming" />
  <meta name="description" content=
  "Bow | Official web site for Bow featuring music, video, and tour dates." />
  <meta property="og:image" content=
  "http://www.beyourbow.com/BowSillhouette.png" />
  <meta property="og:title" content="Bow" />
  <meta property="og:description" content="Be Your Bow" />
  <meta property="og:url" content="http://www.beyourbow.com/" />
  <meta itemprop="name" content="Bow" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %><%= javascript_include_tag "application", "data-turbolinks-track" => true %><%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="//use.typekit.net/pnx6bul.js" type="text/javascript">
</script>
  <script type="text/javascript">
//<![CDATA[
  try{Typekit.load();}catch(e){}
  //]]>
  </script>
</head>

<body class='hide-nav'>
  <!--Facebook Embed JS-->

  <div id="fb-root"></div><script type="text/javascript">
//<![CDATA[
                (function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=187372864654223";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
  //]]>
  </script><!--Facebook Embed JS-->

  <div class="site-wrap">
    <!--Menu Container-->

    <div class="se-pre-con"></div><script type="text/javascript">
//<![CDATA[
        $(window).load(function() {
                // Animate loader off screen
                $(".se-pre-con").fadeOut("slow");;
        });
    //]]>
    </script> <!--Menu Push-->


     <div id='youtube__wrapper1'>
      <div class='youtube__player'>
        <div id='lovesoundClose' class='youtube__close'>
          <a href='#'>CLOSE</a>
        </div><iframe id="video1" src=
        "https://www.youtube.com/embed/aEZi4_UEXqs?enablejsapi=1&amp;html5=1"
        frameborder="0" name="video1"></iframe>
      </div>
    </div>

    <div id='youtube__wrapper'>
      <div class='youtube__player'>
        <div id='comeOverClose' class='youtube__close'>
          <a href='#'>CLOSE</a>
        </div><iframe id="video" src=
        "https://www.youtube.com/embed/MKpbnOBINqQ?enablejsapi=1&amp;html5=1"
        frameborder="0" name="video"></iframe>
      </div>
    </div>
    <script type="text/javascript">
//<![CDATA[
    $(function() {
        $('#youtube__wrapper').mouseover(function() {
            $('#comeOverClose').show();
        });
        $('#youtube__wrapper').mouseleave(function() {
            $('#comeOverClose').hide();
        });
        $('#youtube__wrapper1').mouseover(function() {
            $('#lovesoundClose').show();
        });
        $('#youtube__wrapper1').mouseleave(function() {
            $('#lovesoundClose').hide();
        });
     });
    //]]>
    </script>

    <div id='header'>
      <%= render 'layouts/header' %><script type="text/javascript">
//<![CDATA[
        (function() {

        "use strict";

        var toggles = document.querySelectorAll(".cmn-toggle-switch");

        for (var i = toggles.length - 1; i >= 0; i--) {
          var toggle = toggles[i];
          toggleHandler(toggle);
        };

        function toggleHandler(toggle) {
          toggle.addEventListener( "click", function(e) {
            e.preventDefault();
            (this.classList.contains("active") === true) ? this.classList.remove("active") : this.classList.add("active");
          });
        }

      })();
      //]]>
      </script> <script type="text/javascript">
//<![CDATA[
     $(function() {
        $('.toggle-nav').click(function() {
           $('body').toggleClass('hide-nav');
           $('body').toggleClass('show-nav');
        });
     });
      //]]>
      </script> <script type="text/javascript">
//<![CDATA[
      // https://developers.google.com/youtube/iframe_api_reference
      // global variable for the player
      var player;
      var player1;
      // this function gets called when API is ready to use
      function onYouTubePlayerAPIReady() {
      // create the global player from the specific iframe (#video)
        player = new YT.Player('video', {
            events: {
            // call this function when player is ready to use
            'onReady': onPlayerReady
            }
          });
        player1 = new YT.Player('video1', {
            events: {
            // call this function when player is ready to use
            'onReady': onPlayer1Ready
            }
          });
        }


      //TODO figure out how to separate these into two videos
      function onPlayerReady(event) {
      // bind events
          var playButton1 = document.getElementById("comeOverOpen");
          playButton1.addEventListener("click", function() {

            document.getElementById("header").style.display = "none";
            document.getElementById("youtube__wrapper").style.display = "block";
            player.playVideo();
          });

          var pauseButton1 = document.getElementById("comeOverClose");
          pauseButton1.addEventListener("click", function() {
            player.pauseVideo();
            document.getElementById("youtube__wrapper").style.display = "none";
            document.getElementById("header").style.display = "block";
          });
      }
      function onPlayer1Ready(event) {
      // bind events
          var playButton = document.getElementById("lovesoundOpen");
          playButton.addEventListener("click", function() {
            document.getElementById("header").style.display = "none";
            document.getElementById("youtube__wrapper1").style.display = "block";
            player1.playVideo();
          });

          var pauseButton = document.getElementById("lovesoundClose");
          pauseButton.addEventListener("click", function() {
            player1.pauseVideo();
            document.getElementById("youtube__wrapper1").style.display = "none";
            document.getElementById("header").style.display = "block";
          });
      }

      // Inject YouTube API script
      var tag = document.createElement('script');
      tag.src = "//www.youtube.com/player_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      //]]>
      </script>
    </div>

    <div>
      <% flash.each do |name, msg| %><%= content_tag(:div, msg, class: "alert alert-info") %><% end %><%= yield %>
    </div>

    <div class='footer'>
      <%= render 'layouts/footer' %>
    </div>
  </div><!--End Menu Push-->
  <!--End Menu Container-->
</body>
</html>
